<MudFileUpload T="IReadOnlyList<IBrowserFile>" FilesChanged="UploadFiles">
    <ActivatorContent>
        <MudButton Variant="Variant.Filled"
                   Color="Color.Primary"
                   StartIcon="@Icons.Material.Filled.CloudUpload">
            Upload Epub or XML files with annotations
        </MudButton>
    </ActivatorContent>
</MudFileUpload>

<p>@_title</p>
